.slider-container {

    margin-top: 38px;
    width: 20%;
    padding: 20px;
}
.review-card {
    background-color: antiquewhite;
    width: 550px;
    border-radius: 10px;
    padding: 3px;

}

.quaot {
    color: black;
    font-family: "cursive";
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;

}

.quaot-description {
    color: black;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: normal;
    padding: 5px;

}

.info-card {
    background-color: rgb(218, 136, 30);
    display: flex;
    justify-content: center;
    align-self: center;
    width: 540px;
    padding: 6px;
    
    
}

.review-img {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50px;
    margin-top: 10px;
    
}

.profile-name {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 0px;
   
}

.profile-location {
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    margin-top: 0px;
    padding-top: 0px;
}